/* Container for the entire resume section */
.resume-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Proficiencies box styling */
.proficiencies-box {
  background-color: rgba(128, 128, 128, 0.8); /* Semi-transparent gray background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 450px; /* Increase the width */
  max-width: 100%; /* Ensure it doesn't overflow on smaller screens */
  margin: 40px; /* Centers the box */
  line-height: 20px
}

/* General heading styling */
h1, h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* List styling */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 5px 0;
  font-size: 18px;
  text-align: center;
}

/* Download link styling */
.download-link {
  color: #fff;
  background-color: #5836AF;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
}

.download-link:hover {
  background-color: #3e268c;
}
