html {
  scroll-behavior: smooth;
}

.centered-heading {
  text-align: center;
  margin-bottom: 2rem; /* Optional: adds some space below the heading */
}


.vertical-spacing {
  margin-bottom: 2rem; /* Adjust this value as needed */
}
